.search-item {
	display: flex;
	border-radius: 10px;
	padding: 10px 0 10px 10px;
	box-shadow: var(--main-shadow);
	margin-bottom: 20px;
    background-color: #fff;
}

.search-item-pic {
	width: 200px;
	height: 170px;
	background-size: cover;
	background-repeat: no-repeat;
}

.search-item__content {
	width: 390px;
	padding: 0 10px;
}

.search-item__broninfo {
	width: calc(100% - 590px);
}

.search-item__title {
	font-size: 18px;
	line-height: 24px;
	font-family: 'FontInterSemiBold';
	font-weight: 500;
	color: rgb(5, 117, 229);
	text-decoration: underline;
	cursor: pointer;
}

.search-item__list {
	padding-top: 10px;
	list-style-type: none;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.search-item__item {
	position: relative;
	display: inline-block;
	font-family: 'FontInterLight';
	font-weight: 100;
	font-size: 12px;
	line-height: 14px;
	padding: 0 5px 0 10px;
	margin-bottom: 5px;
}

.search-item__item:after {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #333;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto
}

.search-item__rate {
	padding: 5px 0;
	display: flex;
	align-items: center;
}

.search-rate__list {
	list-style-type: none;
	display: flex;
	padding-right: 10px;
}

.search-rate__item {
	width: 15px;
	height: 15px;
	display: inline-flex;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-size: cover;
}

.search-rate__item-yellow {
	background-image: url('/images/star.svg');
}

.search-rate__item-grey {
	background-image: url('/images/grey-star.svg');
}

.search-rate__reviews {
	font-family: 'FontInterLight';
	font-size: 14px;
	line-height: 15px;
	padding-right: 25px;
	color: rgb(146,146,146);
}

.search-rate__foodtype {
	font-family: 'FontInterBold';
	font-size: 14px;
	line-height: 15px;
	color: rgb(254,75,42)
}

.search-item__broninfo {
	border-left: 1px solid rgb(205,236,241);
}

.search-item__price {
	padding-top: 25px;
	text-align: center;
}

.search-item__price-from {
	font-size: 18px;
	line-height: 24px;
}

.search-item__price-number {
	font-size: 24px;
	line-height: 24px;
	padding: 0 3px;
	font-family: 'FontInterBold';
}

.search-item__price-currency {
	font-size: 24px;
	line-height: 24px;
	font-family: 'FontInterBold';
}

.search-item__nights {
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	padding: 10px 0;
	font-family: 'FontInterLight';
}

.search-item__nights span {
	
	font-family: 'FontInterLight';
}

.search-item__bron {
	display: block;
	margin: 30px auto 0 auto;
	width: 140px;
	height: 38px;
	border-radius: 8px;
	background: linear-gradient(90deg,#00f260,#0575E6);
	border: 0!important;
	outline: 0!important;
	font-size: 16px;
	line-height: 38px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.search-item__bron:hover {

	background: linear-gradient(90deg,#00CA50,#0057AF);
}

.search-item__adress {
	position: relative;
	padding-left: 20px;
    font-family: 'FontInterLight';
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    padding: 0 0 0 20px;
    margin-bottom: 5px;
    background-image: url('/icons/pin.svg');
    background-position: left top 2px;
    background-repeat: no-repeat;
    background-size: 15px;
    
}

.search-item__adress:before {
	content: '';
	display: block;
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: rgb(204,247,228);
}

@media screen and (max-width: 860px) {

	.search-item {
		justify-content: space-between;
	}
	
	.search-item__broninfo {
		padding: 0 10px;
		width: 26%;
		box-sizing: border-box;
	}

	.search-item__content {
		width: 52%;
		height: 170px;
		overflow: hidden;
	}

	.search-item-pic {
		width: 30%;
	}

	.search-item-pics {
		margin: 0 !important;
	}


}

@media screen and (max-width: 650px) {
	.search-item-pic {
		width: 116px;
		height: 116px;
	}

	.search-item__bron {
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {

	.search-item {
		flex-direction: column;
		padding: 10px;
	}

	.search-item-pic {
		width: 100%;
		height: 100%;
	}
	.search-item__content {
		width: 100%;
		height: auto;
		padding: 0;
		margin-top: 10px;
	}

	.search-item__broninfo {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin-top: 10px;
		width: 100%;
		border: none;
	}

	.search-item__price {
		width: 55%;
		text-align: left;
		order: 1;
	}

	.search-item__nights {
		padding: 0;
		width: 55%;
		text-align: left;
		order: 3;
	}

	.search-item__bron {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 43%;
		margin: 0;
		line-height: 48px;
		height: 48px;
		order: 2;
	}
	.search-item__list {
		-webkit-line-clamp: 3;
	}
}