
.search-results-w {
	position: absolute;
	top: 80px;
	left: -18px;
	right: 0;
	border-radius: 10px;
	overflow: hidden;
	width: calc(100% + 18px);
	z-index: 2;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
}

.search-results__header {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	height: 40px;
	padding: 10px;
	background: var(--red-linear-gradient);
}

.search-results__body {
	padding: 10px;
	background-color: #fff;
}

.search-results__item {
	text-align: left;
	border-bottom: 1px solid #F2F2F2;
	background-color: #fff;
	cursor: pointer;
	transition: background-color .2s;
}

.search-results__link {
	display: block;
	font-family: 'FontInterSemiBold';
	text-decoration: none;
	padding: 12px 0;
	transition: padding-left .2s;
}

.search-results__item:hover .search-results__link {
	transition: padding-left .2s;
	padding-left: 10px;
}

.search-results__item:hover {
	background-color: #F2F2F2;
	transition: background-color .2s;
}

.search-results__item:last-child {
	border-bottom: 0
}
