.contacts-form {
	display: flex;
	justify-content: space-between;
	padding: 50px 0 30px 0
}

.contacts-callback {
	width: calc(50% - 10px);
	padding: 30px 12px;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
	border-radius: 10px;
}

.contacts-callback__title {
	padding-bottom: 20px;
    font-family: 'FontInterBold';
    color: rgb(51,51,51);
    font-size: 22px;
    line-height: 24px;
}

.contacts-form-w {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contacts-form__input {
	display: block;
	width: calc(50% - 10px);
	padding-left: 15px;
	height: 60px;
	margin-bottom: 25px;
	border-radius: 10px;
	border: 2px solid #FF1F01!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 18px;
}

.contacts-form__textarea {
	display: block;
	width: 100%;
	height: 110px;
	border-radius: 10px;
	border: 2px solid #FF1F01!important;
	outline: 0!important;
	padding: 15px;
	margin-bottom: 25px;
}

.contacts-form__input::-webkit-input-placeholder {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}
.contacts-form__input::-moz-placeholder          {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}
.contacts-form__input:-moz-placeholder           {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}
.contacts-form__input:-ms-input-placeholder      {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}

.contacts-form__textarea::-webkit-input-placeholder {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}
.contacts-form__textarea::-moz-placeholder          {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}
.contacts-form__textarea:-moz-placeholder           {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}
.contacts-form__textarea:-ms-input-placeholder      {color: rgb(122,122,122); font-size: 18px;line-height: 18px;}

.contacts-btn-area {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.contacts-agree {
	width: calc(100% - 170px);
	z-index: 2;
}

.contacts-send-btn {
	display: block;
	width: 170px;
	height: 50px;
	background: rgb(255,75,43);
	background: linear-gradient(45deg, rgba(255,75,43,1) 0%, rgba(255,75,43,1) 39%, rgba(255,65,108,1) 75%, rgba(255,65,108,1) 100%);
	border-radius: 8px;
	color: #fff;
	font-family: 'FontInterBold';
	border: 0!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 100%;
	cursor: pointer;
}

.contacts-btn-area .anim-blick__submit-bg {
	animation-duration: 1.5s !important;
}

.contacts-subscribe {
	width: calc(50% - 10px);
	padding: 30px 12px;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
	border-radius: 10px;
}

.contacts-subscribe-section {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	padding: 30px 35px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
}

.contacts-subscribe-form-w {
	width: calc(50% - 10px);
}

.contacts-subscribe-social {
	width: calc(50% - 10px);
}

.contacts-subscribe-form {
	width: 100%;
	height: 60px;
	position: relative;
	background: linear-gradient(45deg,#00f260,#0575E6);
	border-radius: 10px;
	overflow: hidden;
}

.contacts-subscribe-form-inside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 4px);
	height: 56px;
	padding: 4px 4px 4px 15px;
	background: #fff;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	margin: auto;
	border-radius: 8px;
}

.get-contacts-subscribe {
	display: block;
	width: calc(100% - 200px);

	border: 0!important;
	outline: 0!important;
	background: #fff;
	color: rgb(103,103,103);
	font-size: 16px;
	line-height: 20px;
	z-index: 1;
}

.get-contacts-suscribe-btn {
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
}

.get-contacts-suscribe__submit {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 0!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-family: 'FontInterBold';
	cursor: pointer;
	background: linear-gradient(45deg,#00f260,#0575E6);
}

.get-contacts-suscribe__submit span {
	color: #fff;
}
.get-contacts-suscribe__submit:hover {
	background: linear-gradient(45deg,#00CA50,#0057AF);
}

.get-contacts-subscribe::-webkit-input-placeholder {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-contacts-subscribe::-moz-placeholder          {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-contacts-subscribe:-moz-placeholder           {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-contacts-subscribe:-ms-input-placeholder      {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}

.contacts-subscribe-social-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}

.contacts-s-w {
	padding-bottom: 30px
}

.contacts-social-tg-rus {
	display: block;
	width: 100%;
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('/images/icons/telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.contacts-social-tg-pdmsk {
	display: block;
	width: 100%;
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('/images/icons/telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.contacts-social-vk {
	display: block;
	width: 100%;
	height: 32px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('/images/icons/vk.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.contacts-copyright {
	font-size: 12px;
	line-height: 24px;
}

/* Стилизация чекбокса */

input[type="checkbox"].konfstylized:checked, 
input[type="checkbox"].konfstylized:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"].konfstylized:checked + label, 
input[type="checkbox"].konfstylized:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 24px;
    font-size: 12px;
    cursor: pointer;
	user-select: none;
	color: rgb(51,51,51)
}

input[type="checkbox"].konfstylized:checked + label:before, 
input[type="checkbox"].konfstylized:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(254,45,50);
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"].konfstylized:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"].konfstylized:checked + label:after {
    opacity: 1;
}

input[type="checkbox"].konfstylized:checked + label:after, 
input[type="checkbox"].konfstylized:not(:checked) + label:after {
	content: "";
    position: absolute;
    left: 4px;
    top: 3px;
    width: 9px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid #fe2925;
    border-bottom: 3px solid #fe2925;
    transform: rotate(-45deg);
}

/* Стилизация чекбокса, конец */

@media screen and (max-width: 1050px) {
	.contacts-form {
		flex-wrap: wrap;
		width: 100%;
	}

	.contacts-subscribe {
		width: 100%;
		margin-top: 50px;
	}

	.contacts-callback {
		width: 100%;
	}
	
}

@media screen and (max-width: 650px) {

	.contacts-form {
		flex-direction: column;
		padding: 40px 0 35px;
	}

	.contacts-callback {
		width: 100%;
		padding: 25px 14px;
	}

	.contacts-subscribe {
		margin-top: 22px;
		width: 100%;
		padding: 25px 14px;
	} 
	.contacts-social-vk {
		height: auto;
		min-height: 32px;
		line-height: 1.2;
		padding-top: 5px;
		background-position: left top;
	}
}

@media screen and (max-width: 420px) {

	input[type="checkbox"].konfstylized:checked + label, 
	input[type="checkbox"].konfstylized:not(:checked) + label  {
		font-size: 10px;
		line-height: 20px;
	}

	.contacts-btn-area {
		flex-direction: column;
		align-items: flex-end;
	}

	.contacts-agree {
		width: 100%;
	}
	.contacts-callback {
		width: 100%;
		padding: 25px 12px;
	}

	.contacts-subscribe {
		margin-top: 30px;
		padding: 15px 12px;
	} 

	.contacts-send-btn {
		width: 185px;
		margin-top: 18px;
	}

	.contacts-form__input {
		width: 100%;
		font-size: 16px;
		line-height: 1;
		margin-bottom: 20px;
	}

	.contacts-form__textarea {
		font-size: 16px;
		margin-bottom: 5px;
		line-height: 18px;
	}

	.contacts-callback__title {
		font-size: 16px;
	}

	.contacts-social-tg-rus, .contacts-social-tg-pdmsk, .contacts-social-vk {
		font-size: 16px;
	}
	
	.contacts-copyright {
		font-size: 10px;
		line-height: 1;
	}

	.contacts-s-w {
		padding-bottom: 20px;
	}
	.contacts-btn-area .second-anim {
		height: 50px;
	    bottom: 0;
	    top: revert;
	}
	.get-contacts-subscribe {
		width: calc(100% - 60px);
	}

	.icon-subscribe-inside {
		display: inline-block;
		height: 28px;
		width: 35px;
		background-image: url('/images/icons/subscribe.svg');
		background-repeat: no-repeat;
		background-size: 32px;
	}

	.get-contacts-suscribe-btn {
		width: 56px;
		height: 48px;

	}

}