@font-face {
  font-family: 'FontInter';
  src: url('../assets/fonts/Inter/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterSemiBold';
  src: url('../assets/fonts/Inter/Inter-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterBold';
  src: url('../assets/fonts/Inter/Inter-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterExtraBold';
  src: url('../assets/fonts/Inter/Inter-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterLight';
  src: url('../assets/fonts/Inter/Inter-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'FontInter';
	box-sizing: border-box;
	color: #333
}

body {
	--red-linear-gradient: linear-gradient(45deg, rgba(255,74,43,1) 0%, rgba(255,68,87,1) 45%, rgba(255,68,87,1) 60%, rgba(255,74,43,1) 100%);
	--green-linear-gradient: radial-gradient(circle, hsla(162, 100%, 91%, 1) 11%, hsla(163, 100%, 95%, 1) 44%, hsla(0, 0%, 100%, 1) 67%);
	--main-shadow: 0 3px 8px 0 rgb(34 60 80 / 20%);
}

.wrapper {
	position: relative;
	max-width: 1240px;
	margin: 20px auto;
}

/* Зеленый градиент на страницах сверху. На разных страницах в разных местах */

.main-page:after,
.contact-page:after,
.hotel-bron-page:after,
.articles-page:after {
	width: 750px;
	height: 750px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: var(--green-linear-gradient);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

/* Зеленый градиент на страницах сверху. На разных страницах в разных местах, конец */

.section-title {
	padding-left: 40px;
	font-family: 'FontInterBold';
	color: rgb(51,51,51);
	font-size: 22px;
	line-height: 24px;
}

.success-title {
	font-size: 22px;
	line-height: 24px;
	font-family: 'FontInterExtraBold';
	color: #00CB50;
	text-align: center;
}

.section-title-sub {
	font-family: 'FontInterBold';
	color: rgb(51,51,51);
	font-size: 22px;
	line-height: 24px;
}

.single-block-title {
	color: rgb(51, 51, 51);
	font-family: 'FontInterBold';
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    margin-right: 30px;
	margin-bottom: 25px;
}

.block-subtitle {
	padding-left: 40px;
	font-size: 22px;
	line-height: 30px;
	font-family: 'FontInterBold';
}

.subtitle-bold {
	font-family: 'FontInterBold';
	padding: 10px 0
}

.block-span {
	font-size: 16px;
	line-height: 26px;
}

.bold-span {
	font-family: 'FontInterBold';
}

.aside-block-title {
	color: rgb(50,50,50);
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 15px;
	padding-right: 90px;
}

.info-text {
	font-size: 15px;
	line-height: 24px;
	padding-bottom: 5px;
}

/* Стилизация чекбокса */

input[type="checkbox"].stylized:checked, 
input[type="checkbox"].stylized:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"].stylized:checked + label, 
input[type="checkbox"].stylized:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    line-height: 20px;
    cursor: pointer;
	user-select: none;
	color: rgb(51,51,51)
}

input[type="checkbox"].stylized:checked + label:before, 
input[type="checkbox"].stylized:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(254,45,50);
    background-color: #ffffff;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
	left: 4px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"].stylized:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"].stylized:checked + label:after {
    opacity: 1;
}

/* Стилизация чекбокса, конец */


/* Стилизация чекбокса в форме подписки */

.subscribe-agree {
	padding: 15px 0 0 0
}

input[type="checkbox"].stylized:checked, 
input[type="checkbox"].stylized:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"].stylized:checked + label, 
input[type="checkbox"].stylized:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
	font-size: 12px;
    line-height: 20px;
    cursor: pointer;
	user-select: none;
	color: rgb(51,51,51)
}

input[type="checkbox"].stylized:checked + label:before, 
input[type="checkbox"].stylized:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #057DDE;
    background-color: #ffffff;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid #057DDE;
    border-bottom: 3px solid #057DDE;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"].stylized:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"].stylized:checked + label:after {
    opacity: 1;
}


/* Заголовок главной */

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.main-h1 {
	width: 100%;
	padding: 100px 0;
	display: inline-block;
	font-family: FontInterExtraBold;
	font-size: 70px;
	color: transparent;
    background: var(--red-linear-gradient);
    animation: gradient 3s infinite linear;
    background-size: 400%;
    -webkit-background-clip: text;
	text-align: center;
}

.icon-item {
	line-height: 26px;
	background-repeat: no-repeat;
	background-size: 26px;
	background-position: left center;
}

.icon-item-flame {
	background-image: url('/icons/bonfire.png');
}

.icon-item-hotel {
	background-image: url('/icons/hotel.png');
}

.icon-item-direction {
	background-image: url('/icons/planet.png');
}

.icon-item-sales {
	background-image: url('/icons/sales.png');
}

.icon-item-business {
	background-image: url('/icons/business.png');
}
.icon-item-people {
	background-image: url('/icons/people.png');
}

.icon-item-reviews {
	background-image: url('/icons/reviews.png');
}

.icon-item-direction {
	background-image: url('/icons/location.png');
}

/* Заголовок главной, конец */

.secondary-h1 {
    width: 100%;
    padding: 50px 0;
    display: inline-block;
    font-family: FontInterBold;
    font-size: 52px;
    line-height: 60px;
    color: #333;
    text-align: center;
}

/* Footer */

.footer {
	position: relative;
	display: flex;
	padding: 55px 0 20px 0;
	margin-top: 75px;
}

.footer:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	content: '';
	display: block;
	height: 7px;
	background: rgb(242,242,242);
	border-radius: 8px;
}

.footer-title {
	font-family: 'FontInterSemiBold';
	color: rgb(51,51,51);
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.footer-col-title {
	font-family: 'FontInterSemiBold';
	color: rgb(51,51,51);
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.footer-title-small {
	font-family: 'FontInterSemiBold';
	color: rgb(51,51,51);
	font-size: 15px;
	line-height: 24px;
}

.footer-col-1 {
	width: 32.2%;
	padding-right: 10px;
}

.footer-col-2 {
	width: 21.7%;
	padding-right: 10px;
}

.footer-col-3 {
	width: 29.8%;
	padding-right: 30px;
}

.footer-col-4 {
	width: 16.3%;
}

.footer-phones__item {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 16px;
}

.footer-phones__item:last-child {
	margin-bottom: 0
}

.footer-phones {
	margin-bottom: 20px;
}

.footer-phone {
	font-size: 16px;
	line-height: 16px;
	color: rgb(51,51,51)!important;
	text-decoration: none;
}

.footer-phone-info {
	font-style: italic;
	font-size: 12px;
	color: rgb(51,51,51);
	font-family: 'FontInterLight';
}

.footer-title-p {
	font-size: 15px;
	line-height: 20px;
	font-family: 'FontInterLight';
}

.working-time {
	margin-bottom: 20px
}

.footer-place-item {
	display: block;
	color:rgb(0, 0, 0);
	font-size: 15px;
	line-height: 15px;
	text-decoration: underline;
	margin-bottom: 15px;
}

.footer-social-item {
	display: flex;
	align-items: flex-start;
	height: 25px;
	margin-bottom: 10px;
	padding-left: 35px;
	font-size: 15px;
	line-height: 20px;
	text-decoration: underline;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 25px;
	color: rgb(51,51,51);

}

.footer-social-item:first-child {
	background-image: url('/icons/telegram.svg');
}

.footer-social-item:nth-child(2) {
	background-image: url('/icons/telegram.svg');
}

.footer-social-item:nth-child(3) {
	background-image: url('/icons/vk.svg');
}

.payment-methods {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.payment-method {
	display: flex;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.payment-method-visa {
	width: 100%;
	height: 25px;
	margin-bottom: 15px;
	background-image: url('/icons/pay-1.png');
}

.payment-method-vmp {
	width: 100%;
	height: 25px;
	margin-bottom: 15px;
	background-image: url('/icons/pay-2.png');
}

.payment-method-prom {
	width: 100%;
	height: 28px;
	margin-bottom: 15px;
	background-image: url('/icons/pay-3.png');
}

/* Footer, конец */


/* Footer copyright */

.footer-copyright {
	text-align: center;
}

/* Footer copyright, конец */



/* Стили для всяких плагинов */

/* Карта в контактах */

.contacts-y-map {
	display: block;
	width: 100%;
	height: 480px;
}

/* Карта в контактах, конец */


/* Swiper в разделе Контакты*/

.hoteldetail-swiper {
	overflow: hidden;
}

.hoteldetail-swiper .swiper-wrapper {
	display: flex;
	align-items: baseline;
}

.hoteldetail-swiper .hotel-slider__items {
	overflow: hidden;
	height: 95px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
}

.hoteldetail-swiper .hotel-slider__item {
	width: 156px;
	height: 95px;
	border-radius: 10px;
	display: block;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;	
	background-color: #ccc;
	cursor: pointer;
}

.hoteldetail-swiper .swiper-slide-active:after {
	content: '';
	display: block;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 2px solid #FF2001;
	z-index: 3;
}

/* Swiper в разделе hoteldetail, конец */


/* Swiper с отзывами */

.reviews-slider .swiper-button-prev {
	position: absolute;
	top: 50px;
	bottom: 0;
	display: block;
	width: 50px;
	height: 50px;
	background-image: url('/images/thin-left.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	cursor: pointer;
	z-index: 2;
}

.reviews-slider .swiper-button-next {
	position: absolute;
	top: 50px;
	right: 0;
	display: block;
	width: 50px;
	height: 50px;
	background-image: url('/images/thin-right.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	cursor: pointer;
	z-index: 2;
}

.reviews-slider .swiper-wrapper {
	min-height: 170px;
}

.reviews-slider .swiper-pagination {
	position: relative;
	display: inline-flex;
	justify-content: center;
}

.reviews-slider .reviews-pagination-bullet {
	display: block;
	width: 6px;
	height: 6px;
	background-color: #D9D9D9;
	border-radius: 50%;
	margin: 0 1px;
	cursor: pointer;
}

.reviews-slider .swiper-pagination-bullet-active {
	background: #FF4B2A;
}

/* Swiper с отзывами, конец */

/* Стили для всяких плагинов, конец */

/* Общие стили для разных компонентов */

.left-block-bedroom {
	background-image: url('/images/hotel.png');
	background-size: 25px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 38px;
}

/* Общие стили для разных компонентов, конец */


@media screen and (max-width: 640px) {

    .wrapper {
        padding: 0 1rem;
        overflow: hidden;
    }

    .main-h1 {
        font-size: 2rem;
    }

    .single-block-title {
        margin-right: 5px;
    }
    .left-block-bedroom{
        background-size: 22px;
        padding-left: 30px;
    }

}
