.single-hotel {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 30px 0 40px 0
}

.titles-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.hotel-adress {
	padding: 0;
	margin-top: 20px;
	font-size: 16px;
	line-height: 24px;
	color: #4F4F4F;
	text-indent: 25px;
	background-image: url('/icons/vector.png');
	background-repeat: no-repeat;
    background-size: 15px;
    background-position: left top;
}

.title-block {
	width: calc(100% - 400px);
	padding-right: 20px;
}

.hotel-title {
    font-size: 22px;
    line-height: 26px;
}

.hotel-title-h2 {
	padding-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
}

.hotel-rate-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 200px;
	margin-bottom: 10px;
}

.hotel-rate__list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.hotel-rate__reviews {
	color: rgb(130,130,130);
	font-size: 16px;
	line-height: 16px;
}

.hotel-rate__item {
	width: 18px;
	height: 18px;
	margin-right: 3px;
	background-size: cover;
	background-repeat: no-repeat;
}

.hotel-rate__item-yellow {
	background-image: url('/images/star.svg');
}

.hotel-rate__item-grey {
	background-image: url('/images/grey-star.svg');
}

.hotel-rate__reviews {
	font-family: 'FontInterLight';
	font-size: 15px;
	line-height: 18px;
}

.add-to-favorite {
	display: block;
	width: 100%;
	min-height: 26px;
	text-align: right;
	padding-top: 20px
}

.add-to-favorite__link {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	padding-left: 30px;
	text-decoration: underline;
	background-image: url('/images/heart.svg');
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: left center;
	color: rgb(255,97,68);
}

.map-slider {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hotel-slider {
	width: 820px;
}

.hotel-slider__main {
	position: relative;
	width: 100%;
	height: 490px;
	border-radius: 10px;
	margin-bottom: 12px;
	background-color: #ccc;
}

.hotel-slider__main .arrow-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    cursor: pointer;
}

.hotel-slider__main .arrow-left:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('/images/left-nav-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
    cursor: pointer;
}

.hotel-slider__main .arrow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    cursor: pointer;
}

.hotel-slider__main .arrow-right:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('/images/right-nav-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
    cursor: pointer;
}

.hoteldetail-y-map {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.hotel-map {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: calc(100% - 840px);
	box-shadow: var(--main-shadow);
	border-radius: 10px;
	overflow: hidden;
	background-color: #ccc;
}

.hotel-map__place {
	display: inline-block;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: var(--main-shadow);
	padding: 6px 10px;
	font-size: 16px;
	line-height: 16px;
	z-index: 5;
}

.hotel-map__coordinates {
	position: relative;
	color: #2486E9;
	text-decoration: none;
}

.hotel-map__coordinates:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: #2486E9;
}

.select-dates-content {
	display: flex;
	justify-content: space-between;
}

.select-dates-form-block {
	width: 820px;
}

.select-dates-form {
	width: 820px;
	display: flex;
	justify-content: space-between;
}

.select-dates-nav {
	width: calc(100% - 840px);
	margin-top: 45px
}

.select-dates-item {
	padding: 13px 0;
}

.select-dates-item:first-child {
	padding-top: 0;
}

.select-dates-item:last-child {
	padding-bottom: 0;
}

.select-dates-link {
	position: relative;
	display: block;
	padding-left: 30px;
	font-size: 24px;
	line-height: 30px;
	color: #0575E5;
	transition: .2s color;
	text-decoration: underline;
	font-family: 'FontInterLight';
}

.select-dates-link-active {
	color: #FF4B2A;
}

.select-dates-link:hover {
	color: #FF4B2A;
	transition: .2s color;
}

.select-dates-link:after {
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
	display: block;
    border: solid #0575E5;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
	font-family: 'FontInterLight';
	transition: .2s border-color;
}

.select-dates-link-active:after {
	border-color: #FF4B2A;
}

.select-dates-link:hover:after {
	border-color: #FF4B2A;
	transition: .2s border-color;
}

.select-dates-link.active:after {
	border-color: #FF4B2A;
}

.select-form-items {
    width: 100%;
}

.select-dates-form__form {
	width: calc(100% - 210px);
	height: 55px;
	background-image: var(--red-linear-gradient);
	border-radius: 10px;
}

.select-form-items {
	display: flex;
	margin: 3px;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	background: #fff;
	border-radius: 7px;
	overflow: hidden;
}

.select-form-input-w:first-child {
	width: 300px;
	border-right: 2px solid #FEA595;
}

.select-form-input-w:nth-child(2) {
	width: 88px;
	border-right: 2px solid #FEA595;
}

.select-form-input-w:nth-child(3) {
	width: 88px;
	border-right: 2px solid #FEA595;
}

.select-form-input-w:nth-child(4) {
	width: calc(100% - 476px);
}

.select-form-input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 0!important;
    outline: 0!important;
    font-size: 16px;
    color: rgb(103,103,103);
	text-indent: 20px;
}

.select-form-in {
	text-align: center;
	text-indent: 0;
}

.select-form-out {
	text-align: center;
	text-indent: 0;
}

.select-form-guests {
	text-align: center;
	text-indent: 0;
}

.select-dates-form__btn {
    display: block;
    width: 200px;
    height: 55px;
    background: linear-gradient(45deg, rgba(255,75,43,1) 0%, rgba(255,75,43,1) 39%, rgba(255,65,108,1) 75%, rgba(255,65,108,1) 100%);
    border-radius: 10px;
    color: #fff;
    font-family: 'FontInterBold';
    border: 0!important;
    outline: 0!important;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
}

.select-results,
.result-description,
.result-rooms__items
 {
	padding-top: 30px;
}

.hotel-title-section {
	margin-top: 30px;
	padding: 30px 24px;
	margin-bottom: 50px;
	border-radius: 10px;
	box-shadow: var(--main-shadow);
}

.hotel-title-section p {
	margin-bottom: 25px;
	font-size: 14px;
}

.serv-type-section {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 30px;
}

.hotel-title-section h3 {
	font-size: 16px;
	line-height: 1;
	padding-bottom: 10px;
	color: #4f4f4f;
}

.hotel-title-descr {
	display: flex;
	flex-direction: row;
}

.hotel-serv-descr {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.serv-list {
	list-style: none;
	font-size: 14px;
	line-height: 1.5;
}

.hotel-main-descr {
	width: 75%;
	margin-right: 24px;
}

.hotel-fact-section {
	width: 22%;
	max-width: 195px;
}

.hotel-fact-section p {
	font-size: 14px;
}

.hotel-fact-section span {
	font-size: 12px;
}

.serv-list li {
	padding-left: 10px;
}

.serv-list i {
	font-weight: 500;
	font-size: 12px;
}

.serv-list li:before {
	content: '';
	padding-left: 12px;
	margin-right: 6px;
	width: 12px;
	height: 9px;
    background-image: url('/icons/serv.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Подраздел Номера */

.result-rooms__item {
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    box-shadow: var(--main-shadow);
    margin-bottom: 20px;
}

.result-rooms__item::after {
	content: "";
	clear: both;
	display: table;
  }

.result-rooms__item-pic {
	position: relative;
	float: left;
	margin-right: 20px;
	width: 285px;
	height: 205px;
	border-radius: 10px;
	background-color: #ccc;
}

.result-rooms__title {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'FontInterSemiBold';
    color: rgb(5, 117, 229);
    text-decoration: none;
    cursor: pointer;
}

.result-rooms__item p {
    font-size: 16px;
	line-height: 24px;
}

.result-rooms-details {
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: inline-block;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 6px;
	text-align: center;
}

.result-rooms-details__dop {
	padding-bottom: 3px;
    font-size: 12px;
    line-height: 12px;
	font-family: 'FontInterLight';
}

.result-rooms-details .result-rooms-details__nights {
	font-size: 12px;
    line-height: 12px;
	font-family: 'FontInterLight';
}

.result-rooms-details__num {
	color: #DB5A3D;
	font-size: 30px;
	line-height: 30px;
	font-family: 'FontInterBold';
}

.result-rooms-details span {
    font-size: 16px;
	line-height: 20px;
}


.select-results__item {
    display: flex;
	flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    box-shadow: var(--main-shadow);
    margin-bottom: 20px;
}

.select-results__item:last-child {
	margin-bottom: 0
}

.select-results__item-pic {
	width: 180px;
	height: 130px;
	border-radius: 10px;
	background-color: #ccc;
}

.select-results__item-content {
	width: 450px;
	padding-left: 20px;
	padding-right: 20px;
}

.select-item-title {
	font-size: 18px;
    line-height: 22px;
    font-family: 'FontInterSemiBold';
    color: rgb(5, 117, 229);
    text-decoration: underline;
    cursor: pointer;
}

.select-item-info {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px
}

.select-item__block {
	padding: 3px 0;
}

.select-item__in {
	width: 50%;
}

.select-item__adults {
	width: 50%;
}

.select-item__out {
	width: 50%;
}

.select-item__children {
	width: 50%;
}

.select-item__text {
	font-size: 16px;
    line-height: 20px;
    font-family: 'FontInterSemiBold';
}

.select-item__value {
	font-size: 16px;
    line-height: 20px;
}

.select-results-price-info {
	display: flex;
	justify-content: center;
}

.select-results-price-info span {
	font-size: 14px;
    line-height: 14px;
}

.select-results-price {
	font-family: 'FontInterBold';
}

.select-results-currency {
	font-family: 'FontInterBold';
}

.select-results-from span {
	font-size: 16px;
    line-height: 16px;
}

.select-results__item-price {
	text-align: center;
	width: 170px;
	padding-top: 5px;
}

.select-results-from .select-from-currency {
	font-size: 22px;
    line-height: 22px;
	color: #FE4B2B;
	font-family: 'FontInterBold';
}

.select-results-from .select-from-value {
	font-size: 22px;
    line-height: 22px;
    font-family: 'FontInterBold';
	color: #FE4B2B;
}

.select-results-from-info {
	padding-bottom: 15px;
}

.select-results-from-info span {
	font-size: 14px;
    line-height: 14px;
}

.select-results__item-text {
	padding-top: 20px;
	font-size: 16px;
	line-height: 24px;
}

.select-results-bron {
	display: block;
	width: 140px;
	height: 38px;
	margin: 0 auto;
	display: block;
	background: linear-gradient(45deg,#00f260,#0575E6);
	color: #fff;
	text-align: center;
	border-radius: 8px;
	font-family: 'FontInterBold';
    border: 0!important;
    outline: 0!important;
    font-size: 14px;
    line-height: 38px;
    cursor: pointer;
	text-decoration: none;
}

.select-results-bron:hover {

	background: linear-gradient(45deg,#00CA50,#0057AF);
}

.select-nav-bg {
	display: block;
}

.hotel-contact-section {
	font-size: 14px;
    line-height: 1.5;
}

.hotel-contact-section p {
	display: inline-block;
	padding: 15px 0;
}

@media screen and (max-width: 650px) {

	.titles-top {
		flex-direction: column;
		justify-content: space-between;

	}

	.title-block, .hotel-rate-info {
		width: 100%;
		padding: 0;
		margin: 0 0 20px 0;
	}

	.select-dates-content {
		position: relative;
		flex-direction: column;
	}

	.hotel-slider {
		width: 100%;
	}

	.select-dates-form__form {
		width: 100%;
	}

	.select-dates-form {
		width: 100%;
	    flex-direction: column;
	    align-items: flex-end;
	}

	.select-dates-form-block {
		margin-top: 20px;
		width: 100%;
		order: 2;
	}

	.select-dates-form__btn {
		margin-top: 23px;
		width: 150px;
		height: 80px;
	}

	.hotel-slider__main {
		height: 365px;
	}

	.hotel-slider__w {
		height: 70px;
		border-radius: 8px;
	}

	.select-results__item {
		padding: 14px;
	}

	.select-results__item-pic {
		width: 100%;
		height: 200px;
		order: 1;
	}

	.select-results-bron {
		width: auto;
		padding: 0 2rem;
		margin: 0;
		margin-top: -40px;
		height: 60px;
		line-height: 60px;
	}
	.select-results__item-price {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
		text-align: left;		
		margin-top: 20px;
		justify-content: space-between;
		order: 4;
	}

	.select-results__item-content {
		margin-top: 20px;
		width: 100%;
		padding: 0;
		order: 2;
	}

	.select-results-from-info {
		padding: 0;
		width: calc(100% - 175px);
	}

	.select-results-from {
		width: calc(100% - 175px);
	}
	.select-results-price-info {
		width: calc(100% - 175px);
		justify-content: left;
	}

	.select-results__item-text {
		order: 3;
	}

	.select-dates-nav {
		position: absolute;
		margin: 0;
		top: 126px;
		width: 100%;
		order: 1;
	}

	.select-dates-item {
		display: none;
		padding: 15px 0 0 0;
	}

	.select-dates-item:nth-child(1) {
		display: block;
		padding: 0;
	}

	.active-nav-list > .select-dates-item {
		display: block;
	}

	.hotel-title-descr {
		flex-direction: column;
	}

	.hotel-main-descr {
		width: 100%;
		margin: 0 0 20px 0;
	}

	.hotel-title-section p {
		margin-bottom: 10px;
	}

	.hotel-fact-section {
		width: 100%;
		max-width: 100%;
	}

	.select-nav-bg {
		position: relative;
		width: calc(100% - 170px);
		margin-top: 10px;
		padding: 18px 15px;
		border-radius: 10px;
		background-color: #fff;
		box-shadow: var(--main-shadow);
		z-index: 10;
	}

	.select-nav-bg:before {
		content: "";
		position: absolute;
	    right: 14px;
	    width: 18px;
	    height: 22px;
	    background-image: url(/images/nav-down.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    transition: 0.2s;
	    z-index: 10;
	}

	.active-nav-list.select-nav-bg:before {
		transform: rotate(180deg);
		transition: 0.2s;
	}

	.select-dates-link {
		padding-left: 0;
		color: #000;
		font-size: 16px;
		line-height: 1;
		text-decoration: none;
	}

	.select-dates-link:after {
		content: none;
	}

	.select-dates-link-active {
		color: #000;
		font-weight: 500;
	}

	.select-dates-link:hover {
		color: #000;
		font-weight: 600;
	}
}

@media screen and (max-width: 420px) {

	.select-dates-form {
		margin-bottom: 120px;
	}

	.select-dates-form__form {
		width: 100%;
		height: auto;
		background: transparent;
	}
	
	.select-dates-form__btn {
		width: 100%;
		height: 64px;
	}

	.select-dates-nav {
		top: 360px;
	}

	.hotel-title-h2 {
		display: none;
	}

	.select-nav-bg {
		width: 100%;
	}

	.select-form-items {
		width: 100%;
		height: auto;
		flex-wrap: wrap;
		border-radius: 0;
		margin: 0;
		justify-content: space-between;
	}

	.select-form-input-w:first-child {
		width: 100%;
		height: 64px;
		border-radius: 8px;
		border: 2px solid rgba(255,75,43,1);
	}

	.select-form-input-w:nth-child(2) {
		margin-top: 15px;
		width: calc(50% - 15px);
		height: 64px;
		border-radius: 8px;
		border: 2px solid rgba(255,75,43,1);
	}

	.select-form-in, .select-form-out {

		background-image: url(/icons/calendar.png);
		background-size: 23px;
		background-repeat: no-repeat;
		background-position: center right 10px;
	}

	.select-form-input-w:nth-child(3) {
		margin-top: 15px;
		width: calc(50% - 15px);
		height: 64px;
		border-radius: 8px;
		border: 2px solid rgba(255,75,43,1);
	}
	.select-form-input-w:nth-child(4) {
		margin-top: 15px;
		width: 100%;
		height: 64px;
		border-radius: 8px;
		border: 2px solid rgba(255,75,43,1);
	}

	.select-form-input {
		border-radius: 8px;
	}

	.select-form-guests, .select-form-in, .select-form-out {
		text-align: left;
		text-indent: 20px;
	}

	.hotel-serv-descr {
		flex-direction: column;
	}

	.serv-type-section {
		width: 100%;
	}
}