.hotel-bron-top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.hotel-bron-slider {
    position: relative;
    width: 715px;
    height: 430px;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    background: #fff;
    overflow: hidden;
}

.hotel-bron-map {
    position: relative;
    width: calc(100% - 735px);
    height: 430px;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.hotel-bron-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 20px;
    margin: auto;
    width: 300px;
    min-height: 100px;
    box-shadow: var(--main-shadow);
    border-radius: 5px;
    background: #fff;
}

.hotel-bron-info__title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-family: 'FontInterSemiBold';
}

.arrow-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    cursor: pointer;
}

.arrow-left:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('/images/left-nav-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    cursor: pointer;
}

.arrow-right:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('/images/right-nav-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
    cursor: pointer;
}

.hotel-map__coordinates {
    color: #2486E9;
    text-decoration: none;
}