.guest-text-title {
    color: rgb(6,117,232);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}

.no-data-query {
    text-align: center;
    margin-top: 100px
}

.hotel-bron-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.hotel-bron-slider {
    position: relative;
    width: 715px;
    height: 430px;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    background: #fff;
    overflow: hidden;
}

.hotel-bron-map-w {
    position: relative;
    width: calc(100% - 735px);
    height: 430px;
    background: #fff;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
    overflow: hidden;
}

.hotel-bron-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hotel-bron-way-w {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.hotel-bron-way-coordinates {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    text-align: center;
}

.hotel-bron-map__after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
}

.hotel-bron-map__link {
    color: #A1A1A1;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

.hotel-bron-map__link:first-child {
    margin-right: 10px;
}

.hotel-bron-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    padding: 20px;
    margin: auto;
    width: 300px;
    min-height: 100px;
    box-shadow: var(--main-shadow);
    border-radius: 5px;
    background: #fff;
    z-index: 5;
}

.hotel-bron-way-block {
    margin-bottom: 20px;
}

.hotel-bron-info__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-family: 'FontInterSemiBold';
}

.hotel-bron-info__title + p {
    font-size: 15px;
    line-height: 20px;
}

.arrow-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    cursor: pointer;
}

.arrow-left:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('/images/left-nav-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    cursor: pointer;
}

.arrow-right:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('/images/right-nav-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
    cursor: pointer;
}

.hotel-map__coordinates {
    color: #2486E9;
    text-decoration: none;
}

.hotel-bron-data-title {
    max-width: 1030px;
    margin: 0 auto;
}

.hotel-bron-data-title__h3 {
    margin-top: 50px;
    color: #000;
    font-size: 20px;
    line-height: 25px;
    margin-bottom:15px
}

.hotel-bron-data-title__h3 a {
    color: rgb(6,117,232);
    font-size: 20px;
    line-height: 25px;
}

.hotel-bron-data-title__h4 {
    color: #000;
    font-size: 18px;
    line-height: 22px;
}

.hotel-bron-data-title__h4 a {
    color: rgb(6,117,232);
    font-size: 18px;
    line-height: 22px;
}

.hotel-bron-ready {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px
}

.hotel-bron-ready-green-w {
    width: 135px;
    height: 75px;
    border-radius: 10px;
    background: linear-gradient(45deg,#00f260,#0575E6);
}

.hotel-bron-ready-green {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #fff;
    border-radius: 8px;
}

.hotel-bron-final-price {
    width: 100%;
    font-family: 'FontInterExtraBold';
    color: #FF573A;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
}

.hotel-bron-final-price__nights {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.hotel-bron-ready-item-w {

}

.hotel-bron-ready-somediv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hotel-bron-ready__title {
    color: #fff;
}

.hotel-bron-ready-item {
    width: 135px;
    height: 75px;
    border-radius: 10px;
    background: var(--red-linear-gradient);
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

.hotel-bron-ready-next {
    width: 65px;
    height: 25px;
    background-image: url('/images/icons/double-right.svg');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.hotel-bron-ready-middle {
    width: 1px;
    height: 42px;
    margin: 16px 40px;
    background: linear-gradient(45deg,#0575E6,#00f260);
}

.hotel-bron-ready__info {
    padding-top: 8px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

.hotel-bron-ready__text {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    margin-top:20px
}

.hotel-bron-ready-adults {
    margin-right: 20px;
}

.hotel-bron-contactinfo {
    padding: 50px 0 30px 0;
}

.hotel-bron-contactinfo__title {
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 5px
}

.hotel-bron-contactinfo__subtitle {
    font-size: 16px;
    line-height: 20px;
}

.hotel-bron-ready-form {
    padding: 30px 15px;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
}

.guest-text-title {
    color: rgb(6,117,232);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}

.guest-text-title span {
    color: #000;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.hotel-bron-input {
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid rgb(221,221,221);
    outline: 0!important;
    width: 320px;
    height: 60px;
}
.children-age-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.children-age-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 2px solid rgb(221,221,221);
    font-size: 18px;
    line-height: 56px;
    text-align: center;
    color: #4B4B4B;
    margin-right: 20px;
}

.hotel-bron-necessarily {
    position: relative;

    padding: 0 15px;
    font-size: 16px;
    line-height: 20px;

}

.hotel-bron-necessarily-wrong:before {
    content: 'Неправильные данные';
    position: absolute;
    top: -15px;
    left: 0;
    color: rgb(254,0,0);
    font-size: 11px;
    line-height: 12px;
}

.hotel-bron-not-necessarily:before {
    content: 'Не обязательно *';
    position: absolute;
    top: -15px;
    right: 0;
    color: #676767;
    font-size: 11px;
    line-height: 12px;

}

.hotel-bron-necessarily:after {
    content: '*';
    position: absolute;
    top: -20px;
    right: 0;
    color: rgb(254,0,0);
    font-size: 16px;
    line-height: 20px;

}

.children-age-wrapper .hotel-bron-necessarily:after {
    font-size: 20px;
    line-height: 20px;
}

.hotel-bron-btn-w {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.hotel-bron-btn {
    width: 195px;
    height: 60px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background: var(--red-linear-gradient);
    border: 0;
    cursor: pointer;
}

.hotel-bron-required-attention-w {
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
}

.hotel-bron-required-attention-w {
    padding-top: 10px;
}

.hotel-bron-required-attention {
    font-size: 20px;
    line-height: 20px;
    color: rgb(254,0,0);
}

input[type="checkbox"].broned:checked, 
input[type="checkbox"].broned:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"].broned:checked + label, 
input[type="checkbox"].broned:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
	font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    font-family: 'FontInterLight';
	user-select: none;
	color: rgb(51,51,51)
}

input[type="checkbox"].broned:checked + label:before, 
input[type="checkbox"].broned:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: none;
    background: 
	    radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/5px 5px no-repeat,            
	    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/5px 5px no-repeat,            
	    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/5px 5px no-repeat,            
	    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/5px 5px no-repeat,            
	    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 10px) no-repeat,           
	    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 4px) no-repeat,            
	    var(--red-linear-gradient);
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"].broned:checked + label:after, 
input[type="checkbox"].broned:not(:checked) + label:after {

	content: '';
    position: absolute; 
    top: 1px; 
    left: 3px;
    width: 14px;
   	border-color: transparent;
   	border: 0;
    height: 12px; 
    background: var(--red-linear-gradient);
    -webkit-clip-path: polygon(38% 68%, 86% 12%, 100% 28%, 37% 100%, 0 50%, 10% 32%);
	clip-path: polygon(38% 68%, 86% 12%, 100% 28%, 37% 100%, 0 50%, 10% 32%);
    -webkit-transition: transform .3s;
    transition: transform .3s;    
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);  
}

input[type="checkbox"].broned:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"].broned:checked + label:after {
    opacity: 1;
    content: "";

}

.bron-success-block {
    width: 80%;
    padding: 30px 30px 30px 180px;
    margin: 200px auto;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
    background-color: #D7FFD8;
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: 25px center;
    background-image: url('/images/icons/calendar2.png');
}

.bron-error-block {
    width: 80%;
    padding: 30px 30px 30px 180px;
    margin: 200px auto;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
    background-color: #FFEBEC;
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: 25px center;
    background-image: url('/images/icons/calendar2.png');
}

.bron-success-block-title {
    color: #00C647;
	font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-family: 'FontInterSemiBold';
}

.bron-success-block-title:nth-child(2n) {
    margin-bottom: 20px;
}

.bron-success-block-text {
	font-size: 18px;
    line-height: 25px;
    color: #000;
    text-align: center;
    font-family: 'FontInterSemiBold';
}

.hotel-bron-services-w {
	display: flex;
	justify-content: space-between;
    padding: 25px 0 20px 0;
}

.hotel-bron-services-small {
	width: 190px;
}

.hotel-bron-services-big {
	width: calc(100% - 210px);
}

.hotel-bron-services-big__item {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 3px;
    background-size: 10px;
    background-image: url('/images/icons/galka.svg');
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.serv-item__more-services {
	display: block;
	font-size: 14px;
	line-height: 14px;
	padding-left: 25px;
	padding-top: 3px;
    padding-bottom: 5px;
	font-family: 'FontInterLight';
}

.hotel-bron-services__more {
    display: block;
    padding: 10px 0;
	font-size: 14px;
	line-height: 16px;
    font-family: 'FontInterSemiBold';
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (max-width: 1280px) {

    .hotel-bron-slider {
        width: calc(60% - 10px);
    }
    .hotel-bron-map-w {
        width: calc(40% - 10px);
    }

    .hotel-bron-top {
        margin: 0 1rem;
    }

    .hotel-bron-data-title {
        max-width: 100%;
         margin: 0 3rem;
    }
}


@media screen and (max-width: 1050px) {

    .hotel-bron-ready-item {
        width: 115px;
        height: 70px;
        padding: 10px 15px;
        font-size: 16px;
        line-height: 18px;
    }

    .hotel-bron-ready-next {
        width: 50px;
    }

    .hotel-bron-ready-middle {
        margin: 16px 20px;
    }

    .hotel-bron-ready-green-w {
        width: 115px;
        height: 70px;
    }

    .hotel-bron-ready__text {
        margin-top:15px
    }
    .hotel-bron-ready-middle {
        width: 0;
        margin: 16px 20px;
    }

    .hotel-bron-ready-item-w {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 860px) {

    .hotel-bron-data-title__h3 {
        margin-top: 30px;
    }

    .hotel-bron-ready-item {
        width: 150px;
    }

    .hotel-bron-slider {
        width: 100%;
    }

    .hotel-bron-ready-item-w {
        width: 100%;
    }

    .hotel-bron-ready-middle {
        display: none;
    }

    .hotel-bron-ready-adults {
        margin-right: 50px;
    }
    .hotel-bron-ready-item-w {
        margin-bottom: 25px;
    }

    .hotel-bron-ready-form {
        padding: 0;
        box-shadow: none;
    }

    .hotel-bron-services-w {
        flex-wrap: wrap;
    }

    .hotel-bron-services-small {
        width: 100%;
        margin-bottom: 20px;
    }

    .hotel-bron-services-big {
        width: 100%;
    }

    .hotel-bron-data-title {
         margin: 0 1rem;
    }

    .bron-success-block {
        width: 100%;
        padding: 30px 20px 30px 140px;
        margin: 100px auto;
        background-size: 90px;
        background-position: 25px center;
        background-image: url('/images/icons/calendar2.png');
    }

    .bron-success-block-title {
        color: #00C647;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        font-family: 'FontInterSemiBold';
    }

    .bron-success-block-text {
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: 650px) {

    .hotel-bron-top {
        margin: 0;
    }
    .hotel-bron-data-title {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {

    .hotel-bron-ready-item {
        width: 120px;
    }

    .hotel-bron-ready__text {
        margin-top:10px
    }


    .hotel-bron-services-w {
        display: flex;
        justify-content: space-between;
        padding: 25px 0 0 0;
    }

    .bron-success-block {
        width: 100%;
        padding: 30px 20px;
        margin: 100px auto;
        background-size: 0;
        background-position: 0;
        background-image: none;
    }

    .bron-success-block-title {
        color: #00C647;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        font-family: 'FontInterSemiBold';
    }

    .bron-success-block-text {
        font-size: 18px;
        line-height: 24px;
    }

    .hotel-bron-slider {
        width: 715px;
        height: 250px;
    }
}