.hot-deal-item {
	display: flex;
	align-items: center;
	width: calc(25% - 15px);
	margin-right: 20px;
	margin-bottom: 20px;
	height: 120px;
	padding: 0 12px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
	cursor: pointer;
	text-decoration: none;
	z-index: 1;
	background: #fff;
}

.hot-deal-item:hover {
	transition: .2s box-shadow;
    box-shadow: 0 3px 8px 0 rgb(255 97 68 / 20%);
}

.hot-deal-item:nth-child(4n) {
	margin-right: 0;
}

.hot-deal-pic {
	width: 105px;
	height: 95px;
	border-radius: 10px;
	background: #ccc;
	background-size: cover;
	background-repeat: no-repeat;
}

.hot-deal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: calc(100% - 105px);
	height: 95px;
	padding-left: 12px;
}

.hot-deal-title {
	font-size: 14px;
	font-family: 'FontInterBold';
}

.hot-deal-text {
	margin-top: 3px;
	font-size: 11px;
	font-family: 'FontInterLight';
}

.hot-deal-rating {
	padding: 3px 0;
}

.hot-deal-price {
	height: 24px;
	font-size: 12px;
	line-height: 24px;
}

.hot-deal-number {
	color: rgb(254,75,43);
	font-size: 16px;
	line-height: 24px;
	font-family: 'FontInterBold';
}

.hot-deal-rating {
	display: flex;
}

.hot-deal-star {
	display: block;
	width: 9px;
	height: 9px;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-size: cover;
}

.hot-deal-star-grey {
	background-image: url('/images/grey-star.svg');
}

.hot-deal-star-gold {
	background-image: url('/images/star.svg');
}

@media screen and (max-width: 1100px) {

	.hot-deal-item {
		width: 32%;
		margin-right: 0;
	}

}

@media screen and (max-width: 800px) {

	.hot-deal-item {
		width: calc(50% - 10px);
		margin: 0 0 20px 0;
		padding: 12px;
	}
}

@media screen and (max-width: 480px) {

	.hot-deal-item {
		width: 100%;
		margin: 0 0 20px 0;
		padding: 16px;
		height: 140px;
	}

	.hot-deal-pic {
		width: 120px;
		height: 110px;
	}

}