.hot-deals {
	padding-top: 100px;
}

.hot-deals-section {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

.hoteldetail-y-map {
	
}

@media screen and (max-width: 1260px) {

	.hot-deals {
		margin: 0 1rem;
	}
}

@media screen and (max-width: 1100px) {
	.hot-deals-section {
		justify-content: space-between;
	}
}

@media screen and (max-width: 650px) {

	.hot-deals {
		margin: 0;
	}

	.hot-deals-section {
		justify-content: space-between;
	}
}

@media screen and (max-width: 480px) {

	.hot-deals {
		padding-top: 80px;
	}

	.hot-deals-section {
		flex-direction: column;
	}
}