.popular-sections {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popular-hotels {
	width: 100%;
	margin-top: 100px;
}

.popular-ways {
	width: 100%;
	margin-top: 100px;
}

.popular-item__name {
	padding-right: 10px;
	color: rgb(36,134,233);
	font-size: 16px;
	line-height: 24px;
	text-decoration: underline;
	background-color: #fff;
	transition: .2s color;
}

.popular-item:hover .popular-item__name {
	transition: .2s color;
	color: rgb(255,74,43);
}

.popular-item__price {
	padding-left: 10px;
	color: rgb(130,130,130);
	font-size: 16px;
	line-height: 24px;
	background-color: #fff;
}

.popular-item:hover .popular-item__price {
	transition: .2s color;
	color: rgb(255,74,43);
}

.popular-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.popular-item:last-child {
	margin-bottom: 0
}

.popular-items {
	display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
	width: 100%;
}

.popular-item {
	display: flex;
	align-items: center;
	width: calc(33% - 20px);
	margin-right: 20px;
	margin-bottom: 20px;
	height: 120px;
	padding: 0 12px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
	cursor: pointer;
	text-decoration: none;
	z-index: 1;
	background: #fff;
}

.popular-item:nth-child(3n) {
	margin-right: 0;
}

.popular-item-pic {
	margin-right: 12px;
	width: 105px;
	height: 95px;
	border-radius: 8px;
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.popular-item-content {
	display: flex;
	flex-direction: column;
	width: calc(100% - 105px);
	height: 80%;
}

.popular-item__adress {
	margin-top: 7px;
	font-size: 12px;
	line-height: 1.2;
}

.popular-way-items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.popular-way-item {
	display: flex;
	flex-direction: column;
	width: calc(25% - 15px);
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 12px;
	border-radius: 8px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
	cursor: pointer;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	background: #fff;
}

.popular-way-item:hover .popular-item__name {
	transition: .2s color;
	color: rgb(255,74,43);
}

.popular-way-item:hover, .popular-item:hover {

	transition: .2s box-shadow;
	-webkit-box-shadow: 0 3px 8px 0 rgb(255 97 68 / 20%);
	-moz-box-shadow: 0 3px 8px 0 rgb(255 97 68 / 20%);
	box-shadow: 0 3px 8px 0 rgb(255 97 68 / 20%);
}

.popular-way-item:nth-child(4n) {
	margin-right: 0;
}

.popular-way-pic {
	width: 270px;
	height: 150px;
	border-radius: 8px;
	background-color: #f0f0f0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.popular-way-content {
	margin-top: 10px;
}

@media screen and (max-width: 1260px) {

	.popular-sections {
		margin: 0 1rem;
	}

	.popular-way-pic {
		width: 100%;
	}
}

@media screen and (max-width: 1100px) {

	.popular-items {
		justify-content: space-between;
	}

	.popular-item {
		width: 49%;
		margin-right: 0;
	}

}

@media screen and (max-width: 960px) {

	.popular-way-item {
		width: calc(32% - 10px);
	}
	.popular-way-item:nth-child(4n) {
		margin-right: 20px;
	}

	.popular-way-item:nth-child(3n) {
		margin-right: 0;
	}
}

@media screen and (max-width: 650px) {

	.popular-sections {
		margin: 0;
	}

	.popular-item {
		width: 100%;
		height: auto;
		margin: 0 0 20px 0;
		padding: 12px;
	}

	.popular-item-pic {
		margin-right: 20px;
		width: 180px;
		height: 115px;
	}

	.popular-item-content {
		width: calc(100% - 200px);
	}

	.popular-way-item {
		width: calc(50% - 15px);
	}
	.popular-way-item:nth-child(3n) {
		margin-right: 20px;
	}

	.popular-way-item:nth-child(2n) {
		margin-right: 0;
	}

	.popular-way-pic {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {

	.hot-deal-item {
		width: 100%;
		margin: 0 0 20px 0;
		padding: 16px;
		height: 140px;
	}

	.hot-deal-pic {
		width: 120px;
		height: 110px;
	}

	.popular-way-item {
		width: 100%;
		margin-right: 0;
	}

	.popular-way-pic {
		height: 170px;
	}

	.popular-hotels, .popular-ways {
		margin-top: 70px;
	}

	.popular-item-pic {
		width: 105px;
		height: 95px;
	}

	.popular-item-content {
		width: calc(100% - 125px);
		height: 100%;
	}

}