.our-reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 100px auto;
}

.our-reviews .section-title {
	display: inline-block;
}

.our-reviews-slider {
	width: 100%;
	padding: 50px 0;
	position: relative;
}

.reviews-slider {
	max-width: 1030px;
	margin-top: 50px;
	margin: 0 auto
}

.reviews-slider-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.reviews-slider-name {
	width: 100%;
	text-align: center;
}

.reviews-slider-description {
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 0 0 0;
}

.reviews-slider-name {
	font-family: 'FontInterExtraBold';
}

.reviews-slider-item {
	padding: 20px 100px;
	cursor: pointer;
	align-content: baseline;
}

@media screen and (max-width: 480px) {

	.our-reviews {
		margin-top: 50px;
	}

}