.special-offers {
	padding-top: 100px;
}

.sales-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.sales-item__pic {
	display: block;
	background: #ccc;
	width: 175px;
	height: 175px;
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}

.sales-item__content {
	width: calc(100% - 190px);
}

.sales-item__title {
	font-size: 18px;
	line-height: 24px;
	font-family: 'FontInterBold';
	margin-bottom: 5px;
}

.sales-item__text {
	font-size: 16px;
	line-height: 20px;
	font-family: 'FontInterLight';
}

@media screen and (max-width: 1260px) {
	.special-offers {
		margin: 0 1rem;
	}
}

@media screen and (max-width: 650px) {

	.special-offers {
		margin: 0;
	}

	.sales-item {
		margin-top: 40px;
	}

	.sales-item:first-child {
		margin-top: 20px;
	}

	.sales-item__pic {
		width: 134px;
		height: 134px;
	}

	.sales-item__content {
		width: calc(100% - 155px);
	}
}

@media screen and (max-width: 420px) {

	.sales-item {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 30px;
	}

	.sales-item__pic {
		margin-bottom: 20px;
	}

	.sales-item__content {
		width: 100%;
	}
}