.subscribe-section {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	padding: 30px 35px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
}

.subscribe-section h2 {

	font-size: 22px;
	font-family: 'FontInterSemiBold';
	font-weight: 500;
}

.subscribe-form-w {
	width: calc(50% - 10px);
}

.subscribe-social {
	width: calc(50% - 10px);
}

.subscribe-form {
	position: relative;
	width: 100%;
	height: 60px;
	margin-top: 30px;
	background: linear-gradient(45deg,#00f260,#0575E6);
	border-radius: 10px;
	overflow: hidden;
}

.subscribe-form-inside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 4px);
	height: 56px;
	padding: 4px 4px 4px 15px;
	background: #fff;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	margin: auto;
	border-radius: 8px;
}

.get-subscribe {
	display: block;
	width: calc(100% - 200px);

	border: 0!important;
	outline: 0!important;
	background: #fff;
	color: rgb(103,103,103);
	font-size: 16px;
	line-height: 20px;
	z-index: 1;
}

.get-suscribe-btn {
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
}

.get-suscribe__submit {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 0!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-family: 'FontInterBold';
	cursor: pointer;
	background: linear-gradient(45deg,#00f260,#0575E6);
}

.get-suscribe__submit:hover {
	background: linear-gradient(45deg,#00CA50,#0057AF);
}

.get-suscribe__submit span {
	color: #fff;
}

.icon-subscribe-inside {
	display: inline-block;
	height: 28px;
	width: 35px;
	background-image: url('/images/icons/subscribe.svg');
	background-repeat: no-repeat;
	background-size: 32px;
}

.get-subscribe::-webkit-input-placeholder {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-subscribe::-moz-placeholder          {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-subscribe:-moz-placeholder           {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-subscribe:-ms-input-placeholder      {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}

.subscribe-social-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}

.social-tg-rus {
	display: block;
	width: calc(45% - 5px);
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('/images/icons/telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.social-tg-pdmsk {
	display: block;
	width: calc(55% - 5px);
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('/images/icons/telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.social-vk {
	display: block;
	width: 100%;
	height: 32px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('/images/icons/vk.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.social-tg-link {
	color: rgb(67,151,237);
	transition: color .2s;
	cursor: pointer;
}

.social-tg-link:hover {
	color:#FE4B2B;
	transition: color .2s;
}

@media screen and (max-width: 1260px) {
	.subscribe-section {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}

@media screen and (max-width: 650px) {

	.subscribe-section {
		flex-direction: column;
		padding: 16px;
		margin-right: 0;
		margin-left: 0;
	}

	.subscribe-form-w {
		width: 100%;
	}

	.subscribe-section h2 {
	}

	.subscribe-social {
		width: 100%;
		margin-top: 60px;
	}

	.subscribe-social-block {
		margin-top: 25px;
	}

	.social-vk {
		height: auto;
		min-height: 32px;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		padding-top: 5px;
		background-position: left top;
	}
	.social-tg-rus {
		font-size: 16px;
		font-weight: 400;
	}

	.social-tg-pdmsk {
		font-size: 16px;
		font-weight: 400;
	}
}

@media screen and (max-width: 480px) {

	.subscribe-social {
		margin-top: 30px;
	}
	
	.subscribe-section {
		flex-direction: column;
		padding: 15px 10px;
	}

	.subscribe-section h2 {
		font-size: 16px;
	}

	.subscribe-social-block  {
		flex-direction: column;
	}

	.social-tg-rus {
		width: 100%;
	}

	.social-tg-pdmsk {
		width: 100%;
	}

	.social-vk {
		width: 100%;
	}
	.get-subscribe {
		width: calc(100% - 60px);
	}

	.get-suscribe-btn {
		width: 56px;
		height: 48px;
	}

	.subscribe-form {
		margin-top: 10px;
	}
	.subscribe-social-block {
		margin-top: 20px;
	}
	.social-tg-rus, .social-tg-pdmsk {
		margin-bottom: 15px;
	}

	.subscribe-agree label {
		font-size: 10px !important;
	}
}