.vacancy-banner {
	display: flex;
	justify-content: space-between;
    padding: 25px 30px;
	border-radius: 10px;
	background: rgb(255,75,43);
	background: linear-gradient(45deg, rgba(255,75,43,1) 0%, rgba(255,75,43,1) 39%, rgba(255,65,108,1) 75%, rgba(255,65,108,1) 100%);
	cursor: pointer;
}

.vacancy-title {
	font-size: 30px;
	line-height: 40px;
	color: #fff;
	font-family: 'FontInter';
	padding-bottom: 10px
}

.vacancy-subtitle {
	font-size: 20px;
	line-height: 30px;
	color: #fff
}

.vacancy-banner__p {
	border-radius: 5px;
	background-color: #fff;
	color: #0575E6;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 15px;
	font-family: "FontInter";
	text-align: center;
	margin-bottom: -5px;
}

.vacancy-banner__btn {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.vacancy-banner__info {
	width: calc(100% - 550px);
}

.vacancy-banner__btn {
	width: 540px;
}

@media screen and (max-width: 1240px) {
	
	.vacancy-banner {
		margin:  0 1rem;
	}

	.vacancy-banner__info {
		width: 80%;
	}

	.vacancy-banner__btn {
		width: auto;
		margin-left: 1rem;
	}
}

@media screen and (max-width: 650px) {

	.vacancy-banner {
		padding: 20px 14px;
		margin: 0 1rem;
		flex-direction: column;
	}

	.vacancy-banner__info {
		width: 80%;
	}

	.vacancy-title {
		font-size: 24px;
		line-height: 30px;
		padding-bottom: 15px;
	}

	.vacancy-subtitle {
		font-size: 18px;
		line-height: 26px;
	}

	.vacancy-banner__btn {
		margin: 25px 0 0 0;
		justify-content: flex-start;
	}

	.vacancy-banner__p {
		font-size: 16px;
		font-family: 'FontInterBold';
	}
	
}

@media screen and (max-width: 420px) {

	.vacancy-banner  {
		padding: 15px 12px;
	}

	.vacancy-banner__info {
		width: 100%;
	}

	.vacancy-banner__btn {
		margin: 15px 0 0 0;
	}

	.vacancy-title {
		padding-bottom: 5px;
	}

	.vacancy-banner__p {
		font-size: 12px;
	}
}